<%= stylesheet_link_tag 'notifications.css' %>

<div class="notification" onclick="openPopup()">
    <div class="profile-pic"></div>

    <div class="data">
      <div class="poster-name">Ansh</div>

      <div class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque
      </div>
    </div>
  </div>

  <div class="notification" onclick="openPopup()">
    <div class="profile-pic"></div>

    <div class="data">
      <div class="poster-name">Ansh</div>

      <div class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque
      </div>
    </div>
  </div>

  <div class="notification" onclick="openPopup()">
    <div class="profile-pic"></div>

    <div class="data">
      <div class="poster-name">Ansh</div>

      <div class="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque
      </div>
    </div>
  </div>

  <%= javascript_include_tag "popup"%>