<%= stylesheet_link_tag 'notifications.css' %>
<%# try to open a modal using bootstrap, create a button to trigger opening this modal, unique id to each modal %>
<div class="notification" onclick="openPopup()">
    <div class="profile-pic"></div>

    <div class="data">
      <div class="poster-name"><%= link_to notification[:post].job_heading, "/post/#{notification[:post].id}"%></div>
      <div class="message">
        <%= notification[:notification].first.message%>
      </div>
    </div>
  </div>

<%= javascript_include_tag "popup"%>