<%= stylesheet_link_tag 'notifications.css' %>

<div class="notification-container">
  <div class="notification-container-heading">Notifications</div>
  <%= render '/components/notifications/notification'%>
</div>
