<%= stylesheet_link_tag 'explore-main.css' %>

<div class="col-xs-12 header">
  <div class="col-xs-2">Logo</div>
  <div class="col-xs-7">
    Search
    <input type="text" />
  </div>
  <div class="col-xs-3">ProfilePic, Name</div>
</div>
