<%= stylesheet_link_tag 'posts-main.css' %>

<div class="col-xs-12 post-container">
  <div class="col-xs-12 pad-0 poster-details">
    <div class="col-xs-2 profile-pic"></div>

    <div class="col-xs-6 poster-name">Madhur Dhiman</div>

    <div class="col-xs-4 posted-date">25th July 2022</div>
  </div>
  <div class="col-xs-12 heading container">
    <div class="job-heading col-xs-8">UI deveoper</div>

    <div class="job-type col-xs-4">Electrician</div>
  </div>
  <div class="col-xs-12 description container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, repellat.
    Omnis iure adipisci odit eos ipsum illum illo, qui, iste quis architecto hic
    magni necessitatibus, magnam rerum dicta dolores quas?
  </div>
  <div class="col-xs-12 additional-info container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque est
    facilis iusto reiciendis, deleniti consequuntur sunt, nisi, aut
  </div>
  <div class="col-xs-12 pad-0 button-container">
    <div class="col-xs-3 pad-0">
      <div class="button">Like</div>
    </div>

    <div class="col-xs-3 pad-0">
      <div class="button">Comment</div>
    </div>

    <div class="col-xs-3 pad-0"></div>

    <div class="col-xs-3 pad-0">
      <div class="button">Apply</div>
    </div>
  </div>
</div>
