<div class="col-xs-12">
    <%= link_to "New Post", new_post_url %>
</div>

<% if @posts.nil? || @posts.empty? %>
    <%= "No Posts Yet!" %>
<% else %>
    <% @posts.each do |post| %>
        <%= render partial: "components/posts/post", locals: {post: post}%>
    <% end %>
<% end %>
