body {
  background-color: rgb(218, 216, 216);
  position: relative;
}

.content-container {
  position: absolute;
  top: 130px;
  min-height: calc(100vh - 140px);
  background-color: rgb(218, 216, 216);
}

.sidebar-container {
  padding: 20px;
  height: inherit;
  background-color: white;
  border-radius: 7px;
  position: sticky;
  top: 130px;
}
.sidebar {
  height: 70px;
  margin: auto;
  background-color: rgb(255, 255, 255);
}

.feed {
  height: inherit;
  background-color: rgb(218, 216, 216);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.notifications {
  height: inherit;
  position: sticky;
  top: 130px;
}

.sidebar a {
  text-decoration: none;
  color: rgb(24, 10, 10);
  font-size: larger;
  font-weight: 200;
}
