body {
  background-color: rgb(218, 216, 216);
  position: relative;
}

.content-container {
  position: absolute;
  top: 130px;
  min-height: calc(100vh - 140px);
  background-color: rgb(218, 216, 216);
}

.sidebar-container {
  height: inherit;
  background-color: transparent;
  border-radius: 7px;
  position: sticky;
  top: 130px;
}
.sidebar {
  height: 51px;
  margin-bottom: 15px;
  margin-left: 289px;
  background-color: white;
  width: 138px;
  text-align: center;
  border: 1px solid white;
  border-radius: 15px;
  padding-top: 14px;
  padding: 14px 14px 14px 14px;
}
.sidebar:hover {
  text-decoration: underline;
}
.feed {
  height: inherit;
  background-color: rgb(218, 216, 216);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.notifications {
  height: inherit;
  position: sticky;
  top: 130px;
}

.sidebar a {
  text-decoration: none;
  color: rgb(24, 10, 10);
  font-size: larger;
  font-weight: 200;
}
.sidebar a:hover {
  text-decoration: underline;
}

.forms {
  display: flex;
  justify-content: center;
}

.logout-btn {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent;
  font-weight: 450;
  color: black;
  font-size: 17px;
}
.logout-btn:hover {
  text-decoration: underline;
}
