.header {
  min-height: 130px !important  ;
  display: flex;
  align-items: center;
  background-color: rgb(218, 216, 216);
  position: fixed;
  top: 0;
  z-index: 9;
}

.app-logo {
  width: 80px;
  height: 80px;
  background-color: grey;
  border-radius: 50%;
}

.search-bar {
  all: unset;
  width: 70%;
  border: 1px solid grey;
  min-height: 40px;
  border-radius: 7px;
  font-size: 17px;
  padding-left: 10px;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: right;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.name {
  font-size: 18px;
}
