.post-container {
  padding: 20px;
  width: 70%;
  border-radius: 7px;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-weight: bold;
}

.poster-details {
  display: flex;
  align-items: center;
}

.pad-0 {
  padding: 0px !important;
}

.poster-profile-pic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.posted-date {
  font-style: italic;
  color: #777777;
  font-size: 12px;
}

.heading {
  display: flex;
  align-items: baseline;
}

.container {
  background-color: #ccc8c8;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0px 0px 0px;
}

.poster-name {
  font-size: 18px;
}

.button-container {
  margin: 0px 0px 0px 0px;
}

.button {
  color: grey;
  width: 90%;
  font-size: 14px;
  height: 30px;
  cursor: pointer;
}

.col-xs-3:last-child > .button {
  margin-left: auto;
  margin-right: 0;
}

.col-xs-3:first-child > .button {
  margin-right: auto;
  margin-left: 0;
}

.job-heading {
  font-size: 20px;
}

.stats-container {
  margin-top: 10px;
}

.stats-container-buttons {
  color: grey;
  width: 90%;
  font-size: 14px;
  height: 30px;
}

.applied-container {
  color: grey;
  font-size: 14px;
  height: 30px;
  text-align: right;
}

.apply-button {
  display: flex;
  align-items: center;
  float: right;
  cursor: pointer;
  padding-right: 15px;
}

.applied-button {
  display: flex;
  align-items: center;
  float: right;
}

img {
  color: grey;
}

.show-post-container {
  padding: 20px;
  width: 100%;
  border-radius: 7px;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.show-applied-container {
  padding: 0px 15px 0px 0px;
  color: grey;
  font-size: 14px;
  height: 30px;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

#exp-btn {
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  background-color: #ccc8c8;
  text-decoration: none;
}

#exp-btn:hover {
  text-decoration: underline;
}

.exp-btn-container {
  margin-bottom: 30px;
}
